/* ==== IMAGES WEB ==== */
.project-img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 12px;
}

/* ==== IMAGES MOBILE (captures complètes) ==== */
.project-img-mobile {
  width: 100%;
  height: auto;
  max-height: 450px; 
  object-fit: contain; 
  border-radius: 12px;
  background-color: #00000000;
  padding: 10px;
}


/* Pour la carte entière */
.project-card-view {
  border-radius: 15px;
  overflow: hidden;
  background-color: #1a1a1a;
  color: white;
  padding-bottom: 15px;
  min-height: 420px;   /* Optionnel : même hauteur pour toutes les cartes */
}

/* Titre centré */
.project-card-view .card-title {
  text-align: center;
  font-weight: 600;
  margin-top: 12px;
  font-size: 1.2rem;
}

/* Boutons bien alignés */
.project-card-view .btn {
  margin-top: 10px;
}
